{% block title %}{{ post.title }}{% endblock title %}
{% block body %}
    <p>{{ product.title }}</p>
    <p>{{ product.text }}</p>
    <p>{{ product.user }}</p>
    <p>{{ product.created_at }}</p>
    <p>{{ product.category }}</p>
    {% if product.image %}
        <p><img width="500" height="300" src="{{ product.image.url }}" alt="{{ product.title }}"></p>
    {% endif %}
{% for comment in product.comment.all %}
    <p>Отзыв(id): {{ comment.id }}</p>
    <p><a href="{% url 'comment_update' comment.id %}" > Отзыв: {{ comment.comment }}</a></p>
    <p>Оценка: {{ comment.rate }}</p>
    <a href="{% url 'comment_delete' comment.id %}">
    <button type="submit" value="Yes"> Delete</button>
        </a>
{% endfor %}

<p><a href="{% url 'comment_create' product.slug %}"><button type="button" class="btn btn-primary">Оставить отзыв</button></a>

{% endblock body %}